/.vscode
3. Experiments/1. Binary Classifier Data/object.mp4
3. Experiments/1. Binary Classifier Data/no_object.mp4
3. Experiments/2. Models/11 June 2021 17hrs/basic_rpn-01-0.111629.hdf5
3. Experiments/2. Models/11 June 2021 17hrs/basic_rpn-02-0.049347.hdf5
3. Experiments/2. Models/11 June 2021 17hrs/basic_rpn-03-0.035794.hdf5
3. Experiments/2. Models/11 June 2021 17hrs/basic_rpn-04-0.026070.hdf5
3. Experiments/2. Models/11 June 2021 17hrs/basic_rpn-05-0.022325.hdf5
3. Experiments/2. Models/11 June 2021 17hrs/basic_rpn-08-0.020207.hdf5
3. Experiments/1. Binary Classifier Data/data_set.p
3. Experiments/ml_library/__pycache__/__init__.cpython-38.pyc
3. Experiments/ml_library/__pycache__/data_set_functions.cpython-38.pyc
3. Experiments/ml_library/__pycache__/dataset_util.cpython-38.pyc
3. Experiments/ml_library/__pycache__/utility_functions.cpython-38.pyc
